@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600&display=swap');



body{
    background-color: #444440;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;

}

/* NAVBAR  */

.nav ul {
    list-style: none;
    background: transparent;
    text-align: center;
    padding: 0;
    margin:0;

}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: #fff;
    width: 150px;
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 30px;
    font-size: 17px;
    transition: 0.6s;
    font-weight: 400;
    margin-top: 150px;
}

.nav a:hover {
    background-color: #a47764;
    color: #444440;
}

/* IMAGES */

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  /* SOCIAL ICONS  */

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 100px 0;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    transition: 0.6s;
    margin-top: 50px;
}

.social-links li a i:hover {
    color: #a47764;
}

/* FOOTER  */

footer {
    background-color: #564f41;
}

.col-sm {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    width: 1000px;
    min-height: 10px;
    margin: 0;
    text-align: center;
    padding: 5px;

}

/* REPONSIV  */
@media screen and (max-width: 600px) {
  .nav a {
    float: none;
    display: block;
  }